body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, #ffe135  20%, #29AB87 70%),
              url('https://your-image-url/background.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.scroll-wrapper {
  height: 100vh;
  overflow-y: scroll;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

@keyframes swing {
  0% { transform: rotate(15deg); }
  50% { transform: rotate(-15deg); }
  100% { transform: rotate(15deg); }
}

.title {
  animation: float 6s ease-in-out infinite;
}

.monkey {
  background: url('https://pngimg.com/d/monkey_PNG18718.png');
  width: 160px; height: 160px;
}

.monkey2 {
  background: url('https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/newscms/2016_22/1562491/ap_16154563031509.jpg');
  width: 160px; height: 160px;
}

.monkey3 {
  background: url('https://pngimg.com/d/orangutan_PNG1.png');
  width: 160px; height: 160px;
}

.narner {
  background: url('https://cdn-icons-png.flaticon.com/512/13523/13523336.png');
  width: 50px; height: 50px;
}

.monkey, .monkey2, .monkey3, .narner {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  animation: float 6s ease-in-out infinite;
}



.vine {
  position: absolute;
  top: 0; left: 0;
  width: 5px; height: 85%;
  background-color: #8B4513;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: moveVineHorizontal 30s linear infinite;
}

.monkey-swing {
  transform-origin: top center;
  animation: swing 2s ease-in-out infinite;
  z-index: 2;
}

.monkey-swing img {
  width: 100px; height: auto;
}

@keyframes moveVineHorizontal {
  0% { left: -5%; }
  25% { left: 25%; }
  50% { left: 50%; }
  75% { left: 75%; }
  100% { left: 105%; }
}

.jungle-button {
  display: inline-block;
  background-color: #8B4513; 
  color: #ffffff; 
  text-decoration: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 1.2rem; 
  cursor: pointer; 
  margin-top: 20px; 
  transition: background-color 0.3s;
}

.jungle-button:hover {
  background-color: #6F4C3E;
}

/* Positioning styles */
.monkey-1 { top: 10%; left: 15%; }
.monkey-2 { top: 10%; right: 10%; }
.monkey-3 { bottom: 20%; left: 20%; }
.monkey-4 { bottom: 10%; right: 25%; }
.monkey-5 { bottom: 80%; right: 50%; }
.monkey-6 { bottom: 50%; right: 13%; }
.narner-1 { top: 20%; left: 30%; }
.narner-2 { top: 15%; right: 17%; }
.narner-3 { bottom: 25%; left: 35%; }
.narner-4 { bottom: 15%; right: 30%; }

h1 {
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
}
